div:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
div { display: inline-block; margin: 0 0 8px 0; }
/* Hides from IE-mac \*/
html div { height: 1%; }
div { display: block; }

.clear {
  clear: both;
}

body {
  width: 100%;
  background-color: #007633;
  color: #60D5AC;
  font-family: 'Monaco', monospace;
}

h1 {

  font-family: 'Lato', sans-serif;
  color: #DFEBE2;
  font-weight:900;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
li {
  padding-left: 1em;
  text-indent: -1em;
}

li:before {
  content: ">";
  padding-right: 5px;
}

a {
  color: #60D5AC;
  text-decoration: none;
}
.underline {
  text-decoration: underline;
}

input {
  width: 20px;
  background-color: #007633;
  color: #60D5AC;
  border: none;
}

#nav {
  position: relative; 
  float: left;
  width: 30%;
}
#content {
  position: relative;
  float: left;
  width: 60%;
}

.highlight {
  background-color: black;
  color: #00ff00;
  padding-top: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}




.hidden{
  display: none;
}

.option{
  display: none;
}
.flash {

  -moz-animation: flash 1s ;
  -moz-animation-iteration-count: 2000;

  -webkit-animation: flash 1s ;
  -webkit-animation-iteration-count: 2000;

  -ms-animation: flash 1s ;
  -ms-animation-iteration-count: 2000;

}

@-webkit-keyframes flash {
  0% { background-color:none;}
  50% { background-color:none;}
  51% {background-color:#60D5AC;}
  100% {background-color:#60D5AC;}
  
}

@-moz-keyframes flash {
  0% { background-color:none;}
  50% { background-color:none;}
  51% {background-color:#60D5AC;}        
  100% {background-color:#60D5AC;}        
}

@-ms-keyframes flash {
  0% { background-color:none;}
  50% { background-color:none;}
  51% {background-color:#60D5AC;}        
  100% {background-color:#60D5AC;}        
}
